.container {
  border: 1px solid #333;
  background: #2e4040;
  li {
    color: #a3eb64;
  }
  h6 {
    color: #1a1330;
  }
  .dataPersonal {
    background: #a3eb64;
  }
  .registerUser {
    padding: 3px;
    border: 1px solid #333;
    background: goldenrod;
  }
}
