<div class="container">
  <h4>uso de for</h4>
  <ul>
    <app-user *ngFor="let user of users" [nameUser]="user"> </app-user>
  </ul>

  <h4>uso de botones y formulario</h4>

  <form (submit)="addUser(newUser)">
    <input type="text" #newUser />
    <button>Add User</button>
  </form>

  <ul>
    <li *ngFor="let user of users">
      {{ user }}
      <button (click)="SayHello(user)">Hi!</button>
      <button (click)="deleteUser(user)">X</button>
    </li>
  </ul>

  <!-- uso de data binding -->
  <div class="registerUser">
    <form>
      <input
        type="text"
        placeholder="name"
        name="name"
        id="name"
        [(ngModel)]="name"
      />
      <br />
      <input
        type="number"
        placeholder="age"
        name="age"
        id="age"
        [(ngModel)]="age"
      />
    </form>
    name: {{ name }} - age: {{ age }}
  </div>

  <div class="IamIf" *ngIf="activated">
    <h4>uso de if</h4>
    <h6>El texto esta activado</h6>
  </div>
  <app-data-personal class="dataPersonal"></app-data-personal>

  <hr />
  <div *ngFor="let post of posts">
      <h3>
          {{post.title}}
      </h3>
      <p> {{post.body}}</p>
  </div>

</div>
